:root {
  --black: #282828;
  --white: #fbf1c7;
  --gray: #748d92;
  --gray-hover: #596d71;
  --gray-hover-opa: rgb(89, 109, 113, 0.5);
  --aqua: #427b58;
  --red: #9d0006;
  --red-light: #a51b20;
  --green: #07781f;
  --green-hover: #065717;
  --blue: #076678;

  --blue-hover: #064f60;
  --blue-dark: #05404d;

  --bg-main: #f9f5d7;

  --link-blue: #074378;

  --sidebar-blue: #097e96;

  /* TAGS */
  --t-red: #cc241d;
  --t-green: #98971a;
  --t-yellow: #d79921;
  --t-blue: #458588;
  --t-purple: #b16286;
  --t-aqua: #689d6a;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo";
  background-color: #fff;
  height: 100vh;
}

#root {
  height: 100%;
}

p {
  font-family: "Cairo";
}

a {
  text-decoration: none;
  color: var(--link-blue);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
}

.page {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.page-wrapper {
  width: 550px;
}

.section-title {
  font-size: 1.5rem;
  color: var(--aqua);
}

.submit-btn {
  transition: 0.15s;
  margin-top: 0.25rem;
  border: none;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  border-radius: 0.2rem;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.submit-btn:not(:disabled):hover {
  background-color: var(--blue-hover);
}

.submit-btn:disabled {
  cursor: default;
  opacity: 0.7;
}

/* NAVBAR */
.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  margin: 1rem 0 0 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-item.active {
  text-decoration: underline;
}
/* END OF NAVBAR */

/* POST LIST */
.post-list {
  max-width: 550px;
}
/* END OF POST LIST */

/* SMALL POST */
.post-author {
  font-size: 0.9rem;
}

.post-author .post-author-name {
  color: var(--black);
  margin-right: 0.25rem;
  font-weight: bold;
}

.post-author .post-date {
  opacity: 0.75;
}

.post-flag {
  border-radius: 0.3rem;
  font-size: 0.9rem;
  color: var(--white);
  margin-left: 0.5rem;
  padding: 0 0.25rem;
}

.post-flag.private {
  background-color: var(--red-light);
}

.post-flag.draft {
  background-color: var(--t-yellow);
}

.post-small,
.post-small-skeleton {
  max-width: 550px;
  margin: 0.5rem 0;
}

.post-tags {
  display: flex;
}

.post .post-tags {
  margin-bottom: 1rem;
}

.post-tag {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  list-style: none;
  border-radius: 0.2rem;
  padding: 0 0.25rem;
}

.post-tag span {
  margin-right: 0.15rem;
}

.post-small .post-title {
  font-size: 1.2rem;
}

.post-small .post-title,
.post-small .post-title a {
  color: var(--black);
  text-decoration: none;
}
/* END OF SMALL POST */

/* POST */
.post-container {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.post {
  width: 600px;
}

.post .post-title {
  font-size: 2rem;
}

/* END OF POST */

/* NEW POST PAGE */
.new-post {
  display: flex;
  justify-content: center;
}

.new-post-container {
  width: 800px;
}

.new-post-wrapper {
  display: flex;
}

.editor,
.preview {
  width: 100%;
}

.preview .post {
  width: 100%;
}

.new-post-top {
  display: flex;
}

.new-post-top h1 {
  margin-right: 1rem;
}

.new-post .change-mode-btn {
  transition: 0.15s;
  margin-top: 0.25rem;
  border: none;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  color: var(--white);
  cursor: pointer;
}

.change-mode-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.change-mode-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.change-mode-btn.active {
  background-color: var(--blue-dark);
}
.change-mode-btn.inactive {
  background-color: var(--blue);
}

.change-mode-btn:hover {
  background-color: var(--blue-hover);
}

.editor {
  position: relative;
  margin: 0.5rem 0 0 0;
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 0.2rem;
  height: 85vh;
}

.editor input,
.editor textarea {
  outline: none;
  border: none;
  background: none;
  padding: 0.25rem;
}

.editor-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.editor input {
  font-family: inherit;
}

.editor-top .post-title-input {
  font-size: 2rem;
  font-family: "Poppins";
}

.editor-toolbar {
  height: 25px;
  background-color: white;
  margin: 0.25rem 0;
}

.editor textarea {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  outline: none;
  overflow-y: auto;
  border: none;
  width: 100%;
  min-height: 65vh;
  resize: none;
  padding: 0.5rem;
}

.new-post .sidebar-actions {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.new-post-sidebar button {
  margin-bottom: 0.25rem;
}

.new-post .checkbox {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-family: inherit;
}

.new-post .checkbox .tick {
  margin-right: 0.25rem;
  border-radius: 0.2rem;
  width: 20px;
  height: 20px;
}

.new-post .checkbox .tick.checked {
  background-color: var(--t-blue);
}
.new-post .checkbox .tick.unchecked {
  border: 1px solid var(--black);
  background: none;
}

.new-post-sidebar .btn {
  width: 80px;
  transition: 0.15s;
  border: none;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  border-radius: 0.2rem;
  color: var(--white);
  cursor: pointer;
}

.new-post .publish-btn {
  background-color: var(--green);
}

.new-post .publish-btn:hover {
  background-color: var(--green-hover);
}
.new-post .draft-btn:hover {
  background-color: var(--gray-hover);
}

.new-post .draft-btn {
  background-color: var(--gray);
}

/* END OF NEW POST PAGE */

/* PAGINATION */
.pagination {
  margin: 1rem 0 2rem 0;
}

.pagination button {
  transition: 0.15s;
  cursor: pointer;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.2rem;
  background: none;
  padding: 0 0.5rem;
  margin-right: 1rem;
}

.pagination button.enabled {
  background-color: var(--blue);
  color: var(--white);
}

.pagination button.enabled:hover {
  background-color: var(--blue-hover);
}

.pagination button.disabled {
  opacity: 0.6;
  cursor: default;
}
/* END OF PAGINATION */

/* LOGIN */
.login-page .page-wrapper {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form input {
  font-family: inherit;
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.1rem 0.25rem;
}

.login-form .errors {
  margin: 0.25rem 0 0 0;
  font-size: 0.85rem;
  color: var(--red);
}
/* END OF LOGIN */

/* PROFILE */
.profile-wrapper {
  display: flex;
  margin: 0.5rem 0 0 0;
}

/* Sidebar */

.p-sidebar {
  margin: 0.5rem 2rem 0 0;
}

.p-sidebar-items {
  min-width: 125px;
  display: flex;
  flex-direction: column;
}

.p-sidebar .sidebar-btn {
  transition: 0.15s;
  cursor: pointer;
  text-align: left;
  border: none;
  border-radius: 0.2rem;
  margin: 0.1rem 0;
  padding: 0 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.sidebar-btn a {
  height: 100%;
  color: var(--black);
}

.sidebar-btn a:hover {
  text-decoration: none;
}

.sidebar-btn.inactive {
  background: none;
}

.sidebar-btn.active {
  background-color: var(--sidebar-blue);
}
.sidebar-btn.active a {
  color: var(--white);
}

.sidebar-btn.inactive:hover {
  background-color: var(--gray-hover-opa);
}

/* END OF PROFILE */
