:root {
  --black: #282828;
  --gray: #928374;
  --aqua: #427b58;
  --red: #9d0006;
  --green: #79740e;
  --blue: #076678;

  --link-blue: #074378;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo";
}

p {
  font-family: "Cairo";
}

a {
  text-decoration: none;
  color: var(--link-blue);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cairo";
}

.page {
  display: flex;
  justify-content: center;
}

.section-title {
  color: var(--aqua);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 0.5rem;
}
/* END OF NAVBAR */

/* SMALL POST */
.post-small .author-name {
  color: var(--black);
  margin-right: 0.25rem;
  font-weight: bold;
}

.post-small .date {
  opacity: 0.75;
}

.post-small {
  max-width: 550px;
  margin: 1rem 0;
}

.post-small-title {
  font-size: 1.4rem;
  line-height: 1;
}

.post-small-title a {
  text-decoration: none;
  color: var(--black);
}
/* END OF SMALL POST */
