:root {
  --black: #282828;
  --white: #fbf1c7;
  --gray: #928374;
  --aqua: #427b58;
  --red: #9d0006;
  --green: #79740e;
  --blue: #076678;

  --bg-main: #f9f5d7;

  --link-blue: #074378;

  /* TAGS */
  --t-red: #cc241d;
  --t-green: #98971a;
  --t-yellow: #d79921;
  --t-blue: #458588;
  --t-purple: #b16286;
  --t-aqua: #689d6a;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo-VariableFont_wght.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo";
  background-color: #fff;
}

p {
  font-family: "Cairo";
}

a {
  text-decoration: none;
  color: var(--link-blue);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cairo";
}

.page {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  width: 550px;
}

.section-title {
  font-size: 1.5rem;
  color: var(--aqua);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 0.5rem;
}
/* END OF NAVBAR */

/* POST LIST */
.post-list {
  max-width: 550px;
}
/* END OF POST LIST */

/* SMALL POST */

.post-small-author {
  font-size: 0.9rem;
}

.post-small .author-name {
  color: var(--black);
  margin-right: 0.25rem;
  font-weight: bold;
}

.post-small .date {
  opacity: 0.75;
}

.post-small,
.post-small-skeleton {
  max-width: 550px;
  margin: 0.5rem 0;
}

.post-small .post-tags {
  /* margin-top: 0.25rem; */
  display: flex;
}

.post-tag {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  list-style: none;
  border-radius: 0.2rem;
  padding: 0.1rem 0.25rem;
}

.post-small-title {
  line-height: 1.25;
  font-size: 1.2rem;
}

.post-small-title a {
  text-decoration: none;
  color: var(--black);
}
/* END OF SMALL POST */

/* PAGINATION */
.pagination {
  margin: 2rem 0 0 0;
}
.pagination button {
  cursor: pointer;
  border: 1px solid var(--blue);
  font-size: 1rem;
  color: var(--blue);
  border-radius: 0.2rem;
  background: none;
  padding: 0.25rem;
  margin-right: 1rem;
}

.pagination .disabled {
  opacity: 0.6;
  cursor: default;
}
/* END OF PAGINATION */
